{% extends 'base.html '%}
{% load static %}
{% block content %}

<div class="container-fluid  ">
    <div class="row ">
        
            
            <div class="col-sm-6" style="border: 2px solid white; height: 250px; margin-top: 70px; margin-left: 20px; box-shadow: 0px 0px 10px #91f03d; border-radius: 15px;">

                <h2 class="text-dark text-center"> Aboutus</h2>
                <p style="color: black;">A new avenue on Blinkit for brands to showcase their products effectively – <br/>
                    tailored to their own unique style and aesthetic
                    A geeky walk through on what made Blinkit’s print services a reality,
                     and how we set up our infrastructure to create this quick and scalable…</p>
            </div>
      <div class="col-sm-4">
        <img src="{%static 'images/aaa.jpeg'%}" class="w-100" style="margin-top: 70px; border:2px solid white; margin-left: 50px; border-radius: 20px; height: 250px; box-shadow: 0px 0px 10px yellowgreen;"/>
      </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mt-2">
            <h4>100x retail in 5 years</h4> 
             <p>Imagine needing something when you are at home and getting it before you have tied your shoelaces to step out. We are revolutionizing e-commerce by making the stuff most important to you, available to you in a blink of your eye.
                
                We want our customers to focus on the more important things for themselves and not need to plan for the little things that life needs on an everyday basis. We are here to get your chores out of your way.  
                
                Our mission is – “instant commerce indistinguishable from magic”. Using a backbone of technology, data sciences, and rich customer insights, we've built a dense and fast network of partner stores enabling lightning fast deliveries in minutes.
                
                We are already one of the largest e-grocery companies in India. Our ambition however, is to be 100x this size in the next five years. 

                In order to become one of the most important e-retail companies of our generation, we need builders who can think on their feet, take extreme ownership and commit to making outcomes happen. If you are ambitious, smart, and don’t have an ego about it, we’d love to hear from you. 
                
                Opportunities to create $100 billion businesses in India are rare. We are on the way and looking for the hungry.</p>
        </div>
        <div class="col-sm-3"></div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <img src="{% static 'images/g1.PNG'%}"/>
                <h5><b>Mindsets & leverage points</b></h5>
                <p> We believe that being a leader is a mindset, much more than it is a title. And are codifying the operating principles that leaders at Blinkit follow at all times
</p>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'images/g2.PNG'%}"/>
                <h5><b>Learning organisation</b></h5>
                <p>
                    We are a group of people who are constantly learning the skills we need, and continuously improving upon ourselves to create the future we desire</p>
            </div>
            <div class="col-sm-3"></div>

        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="{% static 'images/g3.PNG'%}"/>
                <b>Sustainability conscious</b>
                <p> There is no viable path forward that does not take into account the needs of the future generations. The concept of sustainability entails that we live and work in the present in a manner that does not jeopardise the future
                    
                    Learn about our sustainability commitment here</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <h5><b>Some of the people building 10minzepto</b></h5>
                <img src="{% static 'images/user.jpeg'%}"/>
                <p>..........................</p>
            </div>
            <div class="col-sm-3 " style="margin-top: 60px;">
                <img src="{% static 'images/user.jpeg'%}"/>
                <p>.........................</p>
            </div>
            <div class="col-sm-3"></div>
        </div>

    
</div>
{% endblock %}
